    <div class="page-title-overlap bg-dark pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol
                        class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i>Home</a>
                        </li>
                        </li>
                        <li class="breadcrumb-item text-nowrap active" aria-current="page">Cart</li>
                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
                <h1 class="h3 text-light mb-0">Your cart</h1>
            </div>
        </div>
    </div>

    <!-- Page Content-->
    <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
            <!-- List of items-->
            <section class="col-lg-8">
                <div class="d-flex justify-content-between align-items-center pt-3 pb-2 pb-sm-5 mt-1">
                    <h2 class="h6 text-light mb-0">Products</h2>
                    <a class="btn btn-outline-primary btn-sm pl-2" href="/"><i class="czi-arrow-left mr-2"></i>Continue
                        shopping</a>
                </div>

                <div class="cartBodyWrapper">
                    <!-- Item-->
                    {{#each @root.session.cart}}
                    <div class="d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom">
                        <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left">
                            <a class="d-inline-block mx-auto mr-sm-4" href="/product/{{this.link}}"
                                style="width: 10rem;">
                                {{#if productImage}}
                                <img src="{{this.productImage.[0].path}}" alt="{{this.title}} product image"></a>
                            {{else}}
                            <img src="/uploads/placeholder.png" alt="{{this.title}} product image"></a>
                            {{/if}}
                            </div>
                            <div class="media-body pt-2">
                                <h3 class="product-title font-size-base mb-2"><a
                                        href="/product/{{this.link}}">{{this.title}}</a></h3>
                                <div class="font-size-lg text-accent pt-2">
                                    {{currencySymbol @root.config.currencySymbol}}
                                    <span>{{formatAmount this.totalItemPrice}}</span></div>
                            </div>
                     
                        <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left"
                            style="max-width: 9rem;">
                            <div class="form-group mb-0">
                                <label class="font-weight-medium" for="quantity1">Quantity</label>
                                {{#ifCond @root.cartReadOnly '!=' true}}
                                <div class="cart-quantity">
                                    <button class="btn-qty-minus" type="button"><i class="fas fa-minus"></i></button>
                                    <input type="number" class="cart-product-quantity text-center"
                                        data-cartid="{{@key}}" data-id="{{../this.productId}}" maxlength="2"
                                        value="{{../this.quantity}}">
                                    <button class="btn-qty-add" type="button"><i class="fas fa-plus"></i></button>
                                </div>
                                 <div class="cart-delete">
                                 <button data-cartid="{{@key}}" class="btn btn-link px-0 text-danger btn-delete-from-cart" type="button">
                                <i class="czi-close-circle mr-2"></i>
                                <span class="font-size-sm">Remove</span>
                                    </button>
                                </div>

                                {{else}}
                                <div class="col-4 col-md-6 col-lg-5 col-xl-7 no-pad-left mb-2">
                                </div>

                                {{/ifCond}}
                            </div>
                           
                        
                    </div>
                    {{/each}}
                </div>
                {{#if @root.session.cart}}
                <button id="empty-cart" class="btn btn-outline-danger btn-block cart-empty-align" type="button">
                    <i class="czi-trash font-size-base mr-2 cart-contents-shipping"></i>Empty cart</button>
                {{/if}}
            </section>
            <!-- Sidebar-->
            <aside class="col-lg-4 pt-4 pt-lg-0">
                <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
                    {{#if @root.session.cart}}
                    <div class="cart-contents-shipping">
                        {{#ifCond @root.session.totalCartShipping '>' 0}}
                        <div class="text-center mb-3">
                            {{@root.session.shippingMessage}}: <strong
                                id="shipping-amount">{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartShipping}}</strong>
                        </div>
                        {{else}}
                        <div class="text-center mb-3">
                            <span id="shipping-amount"><strong>{{@root.session.shippingMessage}}</strong></span>
                        </div>
                        {{/ifCond}}
                        {{#ifCond @root.session.totalCartDiscount '>' 0}}
                        <div class="text-center mb-3">
                            Discount: <strong
                                id="discount-amount">{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartDiscount}}</strong>
                        </div>
                        {{/ifCond}}
                         

                        <div class="text-center mb-4 pb-3 border-bottom">
                            <h2 class="h6 mb-2">Subtotal</h2>
                            <h3 class="font-weight-normal"><strong id="total-cart-amount">
                                {{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartAmount}}</strong>
                            </h3>
                        </div>
                     
                    </div>
                    <div class="form-group mb-4">
                        <label class="mb-3" for="order-comments"><span
                                class="badge badge-info font-size-xs mr-2">Note</span><span
                                class="font-weight-medium">Additional comments</span></label>
                        <textarea class="form-control" rows="6" id="order-comments"></textarea>
                    </div>
                    <div class="accordion" id="order-options">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="accordion-heading"><a href="#promo-code" role="button" data-toggle="collapse"
                                        aria-expanded="true" aria-controls="promo-code">Apply promo code<span
                                            class="accordion-indicator"></span></a></h3>
                            </div>
                            <div class="collapse show" id="promo-code" data-parent="#order-options">
                                <form class="card-body needs-validation" method="post" novalidate>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Promo code" required>
                                        <div class="invalid-feedback">Please provide promo code.</div>
                                    </div>
                                    <button class="btn btn-outline-primary btn-block" type="submit">Apply promo
                                        code</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-shadow btn-block mt-4" href="/checkout/information">
                        <i class="czi-card font-size-lg mr-2"></i>Proceed to Checkout</a>
                    {{else}}
                    <div id="cart-empty" class="d-flex flex-row cart-empty-align">
                        <div class="cart-contents-shipping col-md-12 no-pad-left">
                            Cart empty
                        </div>
                    </div>
                    {{/if}}

                </div>
            </aside>
        </div>
    </div>

    <!-- Toolbar for handheld devices-->
    <div class="cz-handheld-toolbar">
        <div class="d-table table-fixed w-100"><a class="d-table-cell cz-handheld-toolbar-item"
                href="account-wishlist.html"><span class="cz-handheld-toolbar-icon"><i
                        class="czi-heart"></i></span><span class="cz-handheld-toolbar-label">Wishlist</span></a><a
                class="d-table-cell cz-handheld-toolbar-item" href="#navbarCollapse" data-toggle="collapse"
                onclick="window.scrollTo(0, 0)"><span class="cz-handheld-toolbar-icon"><i
                        class="czi-menu"></i></span><span class="cz-handheld-toolbar-label">Menu</span></a><a
                class="d-table-cell cz-handheld-toolbar-item" href="shop-cart.html"><span
                    class="cz-handheld-toolbar-icon"><i class="czi-cart"></i><span
                        class="badge badge-primary badge-pill ml-1">{{@root.session.totalCartItems}}</span></span><span
                    class="cz-handheld-toolbar-label">{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartAmount}}</span></a>
        </div>
    </div>
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span
            class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i
            class="btn-scroll-top-icon czi-arrow-up"> </i></a>