
    <main class="sidebar-fixed-enabled" style="background: #F6F9FC">
      <section class="px-lg-3 pt-4">
        <div class="px-3 pt-2">
          <!-- Page title + breadcrumb-->
          <nav class="mb-4" aria-label="breadcrumb">
            <ol class="breadcrumb flex-lg-nowrap">
              <li class="breadcrumb-item"><a class="text-nowrap" href="home-grocery-store.html"><i
                    class="czi-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Checkout</li>
            </ol>
          </nav>
          <!-- Content-->
          <!-- Checkout form-->
          <form action="/customer/register" method="POST">
            <div class="row no-gutters pb-5 mb-xl-3">
              <!-- Delivery details-->
              <div class="col-xl-6 mb-3">
                <h1 class="h2 mb-4">Checkout</h1>
                <h2 class="h5 mb-4">Delivery details</h2>
                <div
                  class="d-flex flex-wrap justify-content-between align-items-center rounded-lg border py-2 px-3 mb-4">
                  <div class="media media-ie-fix align-items-center mr-3 py-2"><img class="rounded-circle"
                      src="/images/jammu.png" width="50" alt="New York">
                    <div class="media-body pl-3">
                      <div class="font-size-ms text-muted">Your city is:</div>
                      <div class="font-size-md font-weight-medium text-heading">Jammu, Jammu and Kashmir</div>
                    </div>
                  </div>
                  {{!-- <div class="py-2"><a class="btn btn-light btn-sm btn-shadow mt-3 mt-sm-0" href="#"><i
                        class="czi-edit mr-2"></i>Change city</a></div> --}}
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="co-fn">First name <span class='text-danger'>*</span></label>
                      <input class="form-control" id="shipFirstname" name="shipFirstname" placeholder="First name"
                        value="{{@root.session.customerFirstname}}" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="co-ln">Last name <span class='text-danger'>*</span></label>
                      <input class="form-control" id="shipLastname" name="shipLastname" placeholder="Last name"
                        value="{{@root.session.customerLastname}}" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="co-ln">Phone number <span class='text-danger'>*</span></label>
                      <input class="form-control" id="shipPhoneNumber" name="shipPhoneNumber" placeholder="Phone number"
                        value="{{@root.session.customerPhone}}" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="co-fn">Email address</label>
                      <input class="form-control" id="shipEmail" name="shipEmail" placeholder="Email address"
                        value="{{@root.session.customerEmail}}">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="co-address">Address <span class='text-danger'>*</span></label>
                      <input class="form-control" id="shipAddr1" name="shipAddr1" placeholder="Address 1"
                        value="{{@root.session.customerAddress1}}" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="co-ln">State <span class='text-danger'>*</span></label>
                      <input class="form-control" id="shipState" name="shipState" placeholder="State"
                        value="{{@root.session.customerState}}" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="co-fn">Pin Code</label>
                      <input class="form-control" id="shipPostcode" name="shipPostcode" placeholder="Pin code"
                        value="{{@root.session.customerPostcode}}">
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="co-note">Order note</label>
                      <textarea class="form-control" name="message" id="co-note" rows="6"
                        placeholder="Please write here any additional information..."></textarea>
                    </div>
                  </div>
                </div>
                <div class="rounded-lg border p-4 my-3">
                  <h2 class="h6 pb-2">Do you have a coupon code?</h2>
                  <div class="d-flex">
                    <input class="form-control mr-3" type="text" placeholder="Coupon code">
                    <button class="btn btn-outline-primary" type="button">Apply code</button>
                  </div>
                </div>
              </div>
              <!-- Order summary + payment-->
              <div class="col-xl-5 offset-xl-1 mb-3">
                <div class="bg-light rounded-lg py-5 px-4 px-sm-5">
                  <h2 class="h5 pb-3">Your order</h2>
                  <div class="cartBodyWrapper">
                    <!-- Item-->
                    {{#each @root.session.cart}}
                    <div class="d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom">
                      <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left">
                        <a class="d-inline-block mx-auto mr-sm-4" href="/product/{{this.link}}" style="width: 5rem;">
                          {{#if productImage}}
                          <img src="{{this.productImage.[0].path}}" alt="{{this.title}} product image"></a>
                        {{else}}
                        <img src="/uploads/placeholder.png" alt="{{this.title}} product image"></a>
                        {{/if}}
                        <div class="media-body pt-2">
                          <h3 class="product-title font-size-base mb-1"><a
                              href="/product/{{this.link}}">{{this.title}}</a></h3>
                          <div class="font-size-lg text-accent">
                            {{currencySymbol @root.config.currencySymbol}}
                            <span>{{formatAmount this.totalItemPrice}}</div>
                        </div>
                      </div>
                      <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left"
                        style="max-width: 9rem;">
                        <div class="form-group mb-0">
                          <label class="font-weight-medium" for="quantity1">Quantity</label>
                          {{#ifCond @root.cartReadOnly '!=' true}}
                          <div class="cart-quantity">
                            <button class="btn-qty-minus" type="button"><i class="fas fa-minus"></i></button>
                            <input type="number" class="cart-product-quantity text-center" data-cartid="{{@key}}"
                              data-id="{{../this.productId}}" maxlength="2" value="{{../this.quantity}}">
                            <button class="btn-qty-add" type="button"><i class="fas fa-plus"></i></button>
                          </div>
                          {{else}}
                          <div class="col-4 col-md-6 col-lg-5 col-xl-7 no-pad-left mb-2">
                          </div>
                          {{/ifCond}}
                        </div>
                        <button data-cartid="{{@key}}" class="btn btn-link px-0 text-danger btn-delete-from-cart"
                          type="button">
                          <i class="czi-close-circle mr-2"></i>
                          <span class="font-size-sm">Remove</span>
                        </button>
                      </div>
                    </div>
                    {{/each}}
                  </div>
                  {{#if @root.session.cart}}
                  <button id="empty-cart" class="btn btn-outline-danger btn-block cart-empty-align" type="button">
                    <i class="czi-trash font-size-base mr-2 cart-contents-shipping"></i>Empty cart</button>
                  {{/if}}
{{!-- 
<div class="col-md-10 offset-md-1 col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/checkout/information">Information</a></li>
            {{#if @root.session.customerPresent}}
            <li class="breadcrumb-item" aria-current="page"><a href="/checkout/shipping">Shipping</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/checkout/payment">Payment</a></li>
            {{else}}
            <li class="breadcrumb-item text-muted" aria-current="page">Shipping</li>
            <li class="breadcrumb-item text-muted" aria-current="page">Payment</li>
            {{/if}}
        </ol>
    </nav>
    <div class="row">
        {{#if paymentMessage}}
        <div class="col-sm-12">
            <p class="text-danger text-center">{{paymentMessage}}</p>
        </div>
        {{/if}}
        <div class="col-12 col-md-5 bottom-pad-15">
            <div class="card top-marg-15">
                <div class="card-body customer-details-login">
                    
    <div class="frame">
    <div class="nav">
      <ul>
        <li class="signin-active"><a class="btn1">Sign in</a></li>
        <li class="signup-inactive"><a class="btn1">Sign up </a></li>
      </ul>
    </div>
    <div ng-app ng-init="checked = false">
                        <form class="form-signin" action="" method="post" name="form">
          <span class="la">Phone Number</span>
        
          <input class="form-styling" type="text" name="password" placeholder=""/>
       
          <div class="btn1-animate">
            <a class="btn1-signin">Get An OTP</a>
          </div>
                        </form>
        
                        <form class="form-signup" action="" method="post" name="form">
          <span class="la">Full name</span>
          <input class="form-styling" type="text" name="fullname" placeholder=""/>
          <span class="la">Address</span>
          <input class="form-styling" type="text" name="email" placeholder=""/>
          <span class="la">Phone Number</span>
          <input class="form-styling" type="text" name="password" placeholder=""/>
          <span class="la">Order Comments</span>
          <input class="form-styling" type="text" name="confirmpassword" placeholder=""/>
          <div class="btn1-animate">
          <a class="btn1-signup">Sign Up</a>
          </div>
                        </form>
      
            <div  class="success">
              <svg width="270" height="270" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 60 60" id="check" ng-class="checked ? 'checked' : ''">
                 <path fill="#ffffff" d="M40.61,23.03L26.67,36.97L13.495,23.788c-1.146-1.147-1.359-2.936-0.504-4.314
                  c3.894-6.28,11.169-10.243,19.283-9.348c9.258,1.021,16.694,8.542,17.622,17.81c1.232,12.295-8.683,22.607-20.849,22.042
                  c-9.9-0.46-18.128-8.344-18.972-18.218c-0.292-3.416,0.276-6.673,1.51-9.578" />
                <div class="successtext">
                   <p> Thanks for signing up!</p> --}}

                </div>



                {{#if @root.session.cart}}
                <ul class="list-unstyled font-size-sm pt-4 pb-2 px-5 border-bottom">
                  <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Subtotal:</span><span
                      class="text-right font-weight-medium">{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartAmount}}</span>
                  </li>
                  {{#ifCond @root.session.totalCartShipping '>' 0}}
                  <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Delivery:</span><span
                      class="text-right font-weight-medium">{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartShipping}}</span>
                  </li>
                  {{else}}
                  <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Delivery:</span><span
                      class="text-right font-weight-medium">Free</span></li>
                  {{/ifCond}}
                  {{#ifCond @root.session.totalCartDiscount '>' 0}}
                  <li class="d-flex justify-content-between align-items-center"><span class="mr-2">Discount:</span><span
                      class="text-right font-weight-medium">{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartDiscount}}</span>
                  </li>
                  {{/ifCond}}
                </ul>
                {{/if}}
                <h3 class="font-weight-normal text-center my-4 py-2">
                  {{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartAmount}}</h3>
                <div class="accordion box-shadow-sm mb-4" id="payment-methods">
                  <div class="card">
                    <div class="card-header py-3 px-3">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" name="license" id="payment-card" checked>
                        <label class="custom-control-label font-weight-medium text-dark" for="payment-card"
                          data-toggle="collapse" data-target="#credit-card">Credit card / Debit Card / UPI /
                          Netbanking<i class="czi-card text-muted font-size-lg align-middle mt-n1 ml-2"></i></label>
                      </div>
                    </div>
                    <div class="collapse show" id="credit-card" data-parent="#payment-methods">
                      <div class="card-body pb-2">
                        {{!-- <input class="form-control mb-3" type="text" placeholder="Card number">
                        <div class="row">
                          <div class="col-6 mb-3">
                            <input class="form-control" type="text" placeholder="MM/YY">
                          </div>
                          <div class="col-6 mb-3">
                            <input class="form-control" type="text" placeholder="CVC">
                          </div>
                        </div> --}}
                        <p class="font-size-sm mb-0">You will be redirected to the Payment Gateway to complete your
                          order.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header py-3 px-3">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" name="license" id="payment-paypal">
                        <label class="custom-control-label font-weight-medium text-dark" for="payment-paypal"
                          data-toggle="collapse" data-target="#paypal">PayPal<i
                            class="czi-paypal text-muted font-size-base align-middle mt-n1 ml-2"></i></label>
                      </div>
                    </div>
                    <div class="collapse" id="paypal" data-parent="#payment-methods">
                      <div class="card-body"><a class="btn btn-primary btn-sm" href="#">Proceed with PayPal</a></div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header py-3 px-3">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" name="license" id="payment-cash">
                        <label class="custom-control-label font-weight-medium text-dark" for="payment-cash"
                          data-toggle="collapse" data-target="#cash">Cash on delivery<i
                            class="czi-wallet text-muted font-size-lg align-middle mt-n1 ml-2"></i></label>
                      </div>
                    </div>
                    <div class="collapse" id="cash" data-parent="#payment-methods">
                      <div class="card-body">
                        <p class="font-size-sm mb-0">You can pay cash when you receive your order.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pt-2">
                  <button class="btn btn-primary btn-block" id="add-to-reg" type="submit">Place Order</button>
                </div>
              </div>

            </div>
        </div>
        </form>
        </div>
      </section>
    </main>
    <a class="btn-scroll-top" href="#top" data-scroll><span
        class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i
        class="btn-scroll-top-icon czi-arrow-up"> </i></a>