
{{> themes/Cloth/front-menu}}

{{!-- <div class="productsWrapper col-sm-12 col-md-8 offset-md-2">

    {{#if filtered}}
        <div class="product-layout product-results col-sm-12">
            {{#ifCond @root.paginateUrl '==' 'category'}}
            <h1>{{ @root.__ "Category" }}: <strong>{{@root.searchTerm}}</strong></h1>
            {{else}}
            <h1>{{ @root.__ "Search results" }}: <strong>{{@root.searchTerm}}</strong></h1>
            {{/ifCond}}
        </div>
    {{/if}}
    <div class="row product-layout">
        {{#ifCond results.length '==' 0}}
            <div class="col-sm-12">
                <p class="text-danger">{{ @root.__ "No products found" }}</p>
            </div>
        {{/ifCond}}
        {{#each results}}
            <div class="{{perRowClass ../config.productsPerRow}}">
                <div class="thumbnail">
                    {{#if productPermalink}}
                        <div class="product-wrapper">
                            <a href="/product/{{this.productPermalink}}">
                                <div class="vertical-center img-thumbnail">
                                    {{#if productImage}}
                                        <img class="img-fluid" src="{{this.productImage}}" alt="...">
                                    {{else}}
                                        <img class="img-fluid" src="/uploads/placeholder.png" alt="...">
                                    {{/if}}
                                </div>
                                <h3 class="product-title product-title-home top-pad-10">
                                    {{this.productTitle}}
                                </h3>
                            </a>
                        </div>
                    {{else}}
                        <a href="/product/{{this._id}}">
                            <div class="vertical-center img-thumbnail">
                                {{#if productImage}}
                                    <img class="img-fluid" src="{{this.productImage}}" alt="...">
                                {{else}}
                                    <img class="img-fluid" src="/uploads/placeholder.png" alt="...">
                                {{/if}}
                            </div>
                            <h3 class="product-title product-title-home top-pad-10">
                                {{this.productTitle}}
                            </h3>
                        </a>
                    {{/if}}
                    {{#if variants}}
                        <div class="col-md-12">
                            {{#if @root.config.showHomepageVariants}}
                            <select id="productVariant-{{this._id}}" class="productVariant form-control mb-2">
                            {{#each variants}}
                                <option value="{{this._id}}" data-price="{{this.price}}">{{this.title}} - {{currencySymbol @root.config.currencySymbol}}{{this.price}}</option>
                            {{/each}}
                            </select>
                            {{else}}
                            <h4 class="product-price mp-0 text-center">
                                {{currencySymbol @root.config.currencySymbol}}{{formatAmount variants.0.price}}
                            </h4>
                            {{/if}}
                        </div>
                    {{else}}
                        <h4 class="product-price mp-0 text-center">
                            {{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}
                        </h4>
                    {{/if}}
                    <p class="text-center">
                        {{#if @root.config.showHomepageVariants}}
                        <a class="btn btn-primary add-variant-to-cart" data-id="{{this._id}}" role="button">{{ @root.__ "Add to cart" }}</a>
                        {{else}}
                        <a class="btn btn-primary add-to-cart" data-id="{{this._id}}" data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}" role="button">{{ @root.__ "Add to cart" }}</a>
                        {{/if}}
                    </p>
                </div>
            </div>
        {{/each}}
    </div>
</div>  --}}


<div class="Categories">
  <h3>Categories
    <hr>
  </h3>
  <div class="carousel-category owl-carousel">
    <div>
      <a href="/search/flour"><img src="/images/flour.jpg" alt=""></a>
    </div>
    <div>
      <a href="/search/fruit"><img src="/images/fruit.jpg" alt=""></a>
    </div>
    <div>
      <a href="/search/eggs"><img src="/images/eggs.jpg" alt=""></a>
    </div>
    <div>
      <a href="/search/milk"><img src="/images/milk.jpg" alt=""></a>
    </div>
    <div>
      <a href="/search/veget"><img src="/images/veget.jpg" alt=""></a>
    </div>
    <div>
      <a href="/search/vegetables"><img src="/images/vegetables.jpg" alt=""></a>
    </div>
    <div>
      <a href="/search/flour"><img src="/images/flour.jpg" alt=""></a>
    </div>
  </div>
</div>





<div class="productslider1">
            <h3 class="title">Most Discount
                <hr>
            </h3>



    {{#if filtered}}
        <div class="product-layout product-results col-sm-12">
            {{#ifCond @root.paginateUrl '==' 'category'}}
            <h1>{{ @root.__ "Category" }}: <strong>{{@root.searchTerm}}</strong></h1>
            {{else}}
            <h1>{{ @root.__ "Search results" }}: <strong>{{@root.searchTerm}}</strong></h1>
            {{/ifCond}}
        </div>
    {{/if}}
      
            
    <div class="parent-box owl-carousel">
               
  
        {{#ifCond results.length '==' 0}}
            <div class="col-sm-12">
                <p class="text-danger">{{ @root.__ "No products found" }}</p>
            </div>
        {{/ifCond}}
        
        
        {{#each results}}
        <div class="box">
         <div class="single-product"> 
           
             
                    {{#if productPermalink}}
                        
                            <a href="/product/{{this.productPermalink}}">
                                <div class="product-thumb">
                                    {{#if productImage}}
                                        <img src="{{this.productImage}}" alt="...">
                                    {{else}}
                                        <img src="/uploads/placeholder.png" alt="...">
                                    {{/if}}
                                     <a class="btn-round" data-id="{{this._id}}" data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}" role="button"><i class="fa fa-shopping-cart"></i></a>
                                  </div>
                                
                                <div class="product-title">
                                  <h3>
                                    {{this.productTitle}}
                                  </h3>
                                     {{#if variants}}
                       
                            {{#if @root.config.showHomepageVariants}}
                            <select id="productVariant-{{this._id}}">
                            {{#each variants}}
                              <option value="{{this._id}}" data-price="{{this.price}}">{{this.title}} - {{currencySymbol @root.config.currencySymbol}}{{this.price}}</option>
                            {{/each}}
                            </select>
                            {{else}}
                            <p>
                                {{currencySymbol @root.config.currencySymbol}}{{formatAmount variants.0.price}}
                            </p>
                            {{/if}}
                
                    {{else}}
                        <p>
                            {{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}
                            <span>₹950</span>
                        </p>
                    {{/if}}
                    <span class="save">Save ₹32</span>
                                </div>
                            </a>
                        
                    {{else}}
                        <a href="/product/{{this._id}}">
                            <div class="product-thumb">
                                {{#if productImage}}
                                    <img src="{{this.productImage}}" alt="...">
                                {{else}}
                                    <img src="/uploads/placeholder.png" alt="...">
                                {{/if}}
                                 <a class="btn-round" data-id="{{this._id}}" data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}" role="button"><i class="fa fa-shopping-cart"></i></a>
                           </div>

                           <div class="product-title">
                           <h3>         {{this.productTitle}}
                           </h3>
                              {{#if variants}}
                       
                            {{#if @root.config.showHomepageVariants}}
                            <select id="productVariant-{{this._id}}">
                            {{#each variants}}
                              <option value="{{this._id}}" data-price="{{this.price}}">{{this.title}} - {{currencySymbol @root.config.currencySymbol}}{{this.price}}</option>
                            {{/each}}
                            </select>
                            {{else}}
                            <p>
                                {{currencySymbol @root.config.currencySymbol}}{{formatAmount variants.0.price}}
                            </p>
                            {{/if}}
                
                    {{else}}
                        <p>
                            {{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}
                            <span>₹950</span>
                        </p>
                    {{/if}}
                          <span class="save">Save ₹32</span>
                           </div>
                        
                        </a>
                    
                    {{/if}}
                 
          </div>
        </div>
        {{/each}}
    
    </div>
</div> 


<div class="offers1">
  <a href="/search/vegetable"><img src="/images/offer2.jpg" alt=""></a>
  <a href="/search/fruit"><img src="/images/offer1.jpg" alt=""></a>
</div>



{{!-- Purva's Code --}}

<div class="productslider1">
  <h3 class="title">Trending Products
    <hr>
  </h3>
  <div class="parent-box owl-carousel">

    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product3.jpeg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Mobile Phone</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>


    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product4.jpg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Face Wash</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>
      </div>
    </div>



    <div class="box">

      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/1.png">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Mango Three</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>

    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/2.jpg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Some pack</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>

    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/3.jpg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Other Pack</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>


    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product.jpg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Not Pack</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>

    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product1.jpeg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Orange Three</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>
    <div class="box">

      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product.jpg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Orange One</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>
      </div>
    </div>


    <div class="box">

      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product1.jpeg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>

        </div>

        <div class="product-title">
          <h3>Apple Two</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>
      </div>
    </div>


    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product2.jpg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Something</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="offer2">
  <a href=""><img src="/images/shopping4.jpeg" alt=""></a>
  <a href=""><img src="/images/shopping4.jpeg" alt=""></a>
  <a href=""><img src="/images/shopping4.jpeg" alt=""></a>
</div>

<div class="productslider1">
  <h3 class="title">Special Deals
    <hr>
  </h3>
  <div class="parent-box owl-carousel">

    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product3.jpeg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Mobile Phone</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>


    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product4.jpg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Face Wash</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>
      </div>
    </div>



    <div class="box">

      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/1.png">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Mango Three</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>

    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/2.jpg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Some pack</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>

    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/3.jpg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Other Pack</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>


    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product.jpg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Not Pack</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>

    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product1.jpeg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Orange Three</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>
    <div class="box">

      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product.jpg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Orange One</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>
      </div>
    </div>


    <div class="box">

      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product1.jpeg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>

        </div>

        <div class="product-title">
          <h3>Apple Two</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>
      </div>
    </div>


    <div class="box">
      <div class="single-product">
        <div class="product-thumb">
          <img src="/images/product2.jpg">
          <a href="#" class="btn-round"><i class="fa fa-shopping-cart"></i></a>
        </div>

        <div class="product-title">
          <h3>Something</h3>

          <p>₹900<span>₹950</span></p>
          <span class="save">Save ₹32</span>
        </div>

      </div>
    </div>

  </div>
</div>

<input type="hidden" id="itemsPerPage" value="{{productsPerPage}}">
<input type="hidden" id="pageNum" value="{{pageNum}}">
<input type="hidden" id="totalItemCount" value="{{totalProductCount}}">
<input type="hidden" id="paginateUrl" value="{{paginateUrl}}">
<input type="hidden" id="searchTerm" value="{{searchTerm}}">
{{!-- <div class="col-md-12">
  <div id="pager" class="d-flex justify-content-center"></div>
</div> --}}

<div class="newsletter">
  <div class="side">
    <i class="fas fa-mail-bulk"></i>
    <div class="signupnews">
      <h4>Sign Up for Newsletter</h4>
      <small>Keep me updated</small>
    </div>
  </div>
  <div class="right-side">
    <form action="">
      <input type="text" placeholder="Enter your Email Address">
      <button type="submit"><i class="far fa-paper-plane"></i></button>
    </form>
  </div>
</div>