<div class="product-layout col-sm-8 offset-sm-2">
    <div class="row">
        {{!-- Product Images --}}
        <div class="col-sm-12 col-md-6 mr-auto">
            {{#if result.productImage}}

            <div class="row bg-scr">
                <ul id="etalage">
                    {{#each @root.images}}
                    <li>
                        <img class="etalage_thumb_image" src="{{this.path}}">
                        <img class="etalage_source_image" src="{{this.path}}">
                    </li>
                    {{/each}}
                </ul>
            </div>

            <div class="row sm-scr">
                <ul id="etalage1">
                    {{#each @root.images}}
                    <li>
                        <img class="etalage_thumb_image" src="{{this.path}}">
                        <img class="etalage_source_image" src="{{this.path}}">
                    </li>
                    {{/each}}
                </ul>
            </div>

            {{else}}
            <div class="title-image-container">
                <img src="/uploads/placeholder.png" id="product-title-image" class="product-title-image img-fluid"
                    alt="...">
            </div>
            {{/if}}
        </div>


        {{!-- Product Details --}}
        <div class="col-sm-12 col-md-6 pro-details">
            <div class="row">
                <h1 class="col-md-10 product-title text-truncate">{{result.productTitle}}</h1>
                {{#if variants}}
                <h4 class="col-md-10 product-price mp-0">{{currencySymbol config.currencySymbol}}{{variants.0.price}}
                </h4>
                {{else}}
                <h4 class="col-md-10 product-price mp-0"> <span class="price">Price: </span>
                    {{currencySymbol config.currencySymbol}}{{result.productPrice}}</h4>
                <p class="taxes col-md-10">Inclusive of all taxes</p>
                {{/if}}
                {{#if variants}}
                <h4 class="col-md-10 product-option">{{ @root.__ "Options" }}</h4>
                <div class="col-md-10">
                    <select id="product_variant" class="form-control">
                        {{#each variants}}
                        <option value="{{this._id}}" data-price="{{this.price}}">{{this.title}}</option>
                        {{/each}}
                    </select>
                </div>
                {{/if}}
                {{#if config.trackStock}}
                {{#ifCond result.productStock '==' 0}}
                <div class="col-md-10">
                    <h4 class="text-danger text-center">
                        Out of stock
                    </h4>
                </div>
                {{/ifCond}}
                {{/if}}
                <div class="col-md-10 productOptions">
                    <div class="input-group">
                        <div class="input-group-prepend input-btn">
                            <button class="form-control pull-left btn-number qty-btn-minus" type="button">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-quan">
                            <input type="number" class="form-control add-color text-center dropdown"
                                id="product_quantity" min="1" max="10" value="1">
                        </div>
                        <div class="input-group-append input-btn">
                            <button class="form-control pull-left btn-number qty-btn-plus" type="button">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="col-md-4 btnAddToCart">
                            <button class="btn btn-primary btn-block product-add-to-cart"
                                type="button">{{ @root.__ "Add to cart" }}</button>
                        </div>
                    </div>
                </div>
                <div class="features">
                        <h1 class="heading">Features</h1>
                        <div class="body_text">
                            {{!-- {{{fixTags result.productDescription}}} --}}
                            <ul>
                                <li>Removes stains effectively</li>
                                <li>Leaves a pleasant fragrance</li>
                                <li>Has the power of 10 hands</li>
                            </ul>
                        </div>
                    </div>
                {{#if result.productComment}}
                <div class="col-md-10">
                    {{ @root.__ "Leave a comment?" }}
                    <textarea class="form-control" id="product_comment"></textarea>
                </div>
                {{/if}}

            </div>
        </div>
    </div>
    <hr>
    <div class="row pl-0">
        <div class="description col">
            <h1 class="heading">Description</h1>
            <div class="body_text">
                {{{fixTags result.productDescription}}}
            </div>
        </div>
    </div>
    <hr>

    {{!-- Related Products --}}
    {{#if config.showRelatedProducts}}
    {{#if relatedProducts}}
    <div class="col-sm-12 mt-5 mb-5">
        <p class="font-weight-bolder">Related products</p>
        <div class="row">
            {{#each relatedProducts}}
            <div class="col-md-3">
                <div class="border rounded">
                    {{#if productPermalink}}
                    <div class="product-wrapper">
                        <a href="/product/{{this.productPermalink}}">
                            <div class="vertical-center img-thumbnail">
                                {{#if productImage}}
                                <img class="img-fluid" src="{{this.productImage}}" alt="...">
                                {{else}}
                                <img class="img-fluid" src="/uploads/placeholder.png" alt="...">
                                {{/if}}
                            </div>
                            <h3 class="product-title product-title-home top-pad-10">
                                {{this.productTitle}}
                            </h3>
                        </a>
                    </div>
                    {{else}}
                    <a href="/product/{{this._id}}">
                        <div class="vertical-center img-thumbnail">
                            {{#if productImage}}
                            <img class="img-fluid" src="{{this.productImage}}" alt="...">
                            {{else}}
                            <img class="img-fluid" src="/uploads/placeholder.png" alt="...">
                            {{/if}}
                        </div>
                        <h3 class="product-title product-title-home top-pad-10">
                            {{this.productTitle}}
                        </h3>
                    </a>
                    {{/if}}
                    <h3 class="product-price mp-0 text-center">
                        {{currencySymbol ../config.currencySymbol}}{{formatAmount productPrice}}
                    </h3>
                    <p class="text-center">
                        {{#if productPermalink}}
                        <div class="col-md-4 btnAddToCart">
                            <button class="btn btn-primary btn-block recom-btn product-add-to-cart "
                                type="button">{{ @root.__ "Add to cart" }}</button>
                        </div>
                        {{!-- <a class="btn btn-primary" href="/product/{{this.productPermalink}}">{{ @root.__ "Add to Cart" }}</a> --}}
                        {{else}}
                        {{!-- <a class="btn btn-primary" href="/product/{{this._id}}">{{ @root.__ "Add to Cart" }}</a> --}}
                        <div class="col-md-4 recom-btn btnAddToCart">
                            <button class="btn btn-primary btn-block product-add-to-cart recom-btn"
                                type="button">{{ @root.__ "Add to cart" }}</button>
                        </div>
                        {{/if}}
                    </p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{/if}}
</div>
<input type="hidden" id="productId" value="{{result._id}}">
<input type="hidden" id="currencySymbol" value="{{currencySymbol config.currencySymbol}}">